[submodule "vendored/SDL_image"]
	path = vendored/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "vendored/libzip"]
	path = vendored/libzip
	url = https://github.com/nih-at/libzip.git
[submodule "vendored/thlib"]
	path = vendored/thlib
	url = https://github.com/PieVieRo/thlib.git
[submodule "vendored/squirrel"]
	path = vendored/squirrel
	url = https://github.com/albertodemichelis/squirrel.git
[submodule "vendored/SDL"]
	path = vendored/SDL
	url = https://github.com/libsdl-org/SDL.git
