[submodule "vendored/SDL_image"]
	path = vendored/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "vendored/libzip"]
	path = vendored/libzip
	url = https://github.com/nih-at/libzip.git
