.cache/

build/
build-mingw/
build-emscripten/
build-alpine/
extracted/
plugins/*.so
plugins/*.dll
plugins/nfa0/target/
plugins/nfa0/Cargo.lock
.vscode
imgui.ini
node_modules
package-lock.json

# Test files - Eventually, this will be moved into a directory.
tests/
